*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(36, 36, 36, 0.4)), url(imgs/netflix.jpg);
    height: 100vh;
    width: 100%;
}

.navbar{
    padding: 25px 80px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 200px;
    height: 80px;

}

.button{
    height: 40px;
    width: 90px;
    background-color: #e50914;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 5px;
    font-style: bold;
    cursor: pointer;
}

.hero-content{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 15vh;
}

.hero-content p {
    font-size: 60px;
    color: #fff;
    font-weight: bold;
}

.rd {
    font-size: 30px;
    color: #fff;
    font-weight: normal;
}

.rdd{
    font-size: 20px;
    color: #fff;
    font-weight: normal;
}

.Subscribe{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.email-button{
    height: 60px;
    width: 500px;
    border-radius: 2px;
    border-color: transparent;
    color: #000;
    outline: none;

}


.submit-button{
    font-weight: 600;
    font-size: 24px;
    height: 64px;
    width: 200px;
    background-color: #e50914;
    color: #fff;
    border-color: transparent;
    border-radius: 2px;
    cursor: pointer;
}

.tv{
    display: flex;
    justify-content: left;
}